

.GameTable .table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.table .head {
  display: flex;
  width: fit-content;
  gap: 20px;
  justify-content: center;
  border-bottom: 2px solid black;
  margin-bottom: 5px;
}

.table .head div {
  width: 100px;
}

.table .body {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  align-items: flex-end;
}

.body div {
  width: 100px;
}